/*
	雷达图组件样式
 */
.component_rader canvas{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}
.component_rader .text{
	position: absolute;
	font-size: 12px;
}
.rander_load canvas{
	-webkit-opacity: 1;
	-webkit-transition:all 1s;
}