
*{
	margin:0;
	padding: 0;
	border: none;
}
body{
	font-family:'Segoe UI Light','Segoe UI','Microsoft Jhenghei','微软雅黑',sans-serif;
	font-size: 20px;
	color:#333333;
}
.title{
	font-size: 50px;
	text-align:center;
	color:#666666;
	margin:50px 0 30px 0;
}
.workListBoard{
	width:500px;
	min-height:300px;
	margin:0 auto;
}
ul.workList{
	padding:0;
}
.workList li{
	font-size: 20px;
	text-align:center;
	list-style:none;
}

.workList a:link,
.workList a:visited,
.workList a:active{
	display:block;
	color:#5FB7E9;
	text-decoration:none;
	line-height:36px;
	height:36px;

	-webkit-transition: background 500ms ease-in 0ms, color 500ms ease-in 0ms;
	-moz-transition: background 500ms ease-in 0ms, color 500ms ease-in 0ms;
	-ms-transition: background 500ms ease-in 0ms, color 500ms ease-in 0ms;
	-o-transition: background 500ms ease-in 0ms, color 500ms ease-in 0ms;
	transition: background 500ms ease-in 0ms, color 500ms ease-in 0ms;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}


.workList a:hover,
.workList a:focus{
	outline:none;	
	color:white;
	background:#BBD631;
	-webkit-transition: background 250ms ease-in 0ms, color 250ms ease-in 0ms;
	-moz-transition: background 250ms ease-in 0ms, color 250ms ease-in 0ms;
	-ms-transition: background 250ms ease-in 0ms, color 250ms ease-in 0ms;
	-o-transition: background 250ms ease-in 0ms, color 250ms ease-in 0ms;
	transition: background 250ms ease-in 0ms, color 250ms ease-in 0ms;
}


.new {
	color:#FF0052;
	font-size:12px;
	margin:auto 0 0 10px;
	vertical-align: super;
}
